<div>
  <div>
    <h3 class = "py-6 offset-md-1">
      <%=@this_user.username%>'s Favorites
    </h3>
  </div>
</div>
      <% @user_faves.each do |a_favorite| %>
     <div class = "container">
  <div class = "row justify-content-between">
  <div class = "col-6 py-6">
    <div class="card">
      <div class="card-body">
      
          <h5 class="card-title">  <%= a_favorite.alternative.alternative_ingredient.original %> instead of <%= a_favorite.alternative.original_ingredient.original %></h5>

        <p class="card-text"><%= a_favorite.alternative.notes%></p>

          <a href="/alternatives/<%= a_favorite.alternative_id %>" class="card-link">Show details</a>
      </div>
    </div>
  </div>
<%end%>
</div>
</div>
