<div>
  <div>
    <h1>
      Comment #<%= @the_comment.id %> details
    </h1>

    <div>
      <div>
        <a href="/comments">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_comment/<%= @the_comment.id %>">
          Delete comment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @the_comment.body %>
      </dd>

      <dt>
        Commenter
      </dt>
      <dd>
        <%= @the_comment.commenter_id %>
      </dd>

      <dt>
        Ingredient
      </dt>
      <dd>
        <%= @the_comment.ingredient_id %>
      </dd>

      <dt>
        Measurement
      </dt>
      <dd>
        <%= @the_comment.measurement_id %>
      </dd>

      <dt>
        Dietary
      </dt>
      <dd>
        <%= @the_comment.dietary_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit comment
    </h2>

    <form action="/modify_comment/<%= @the_comment.id %>"  method="post" >
      <div>
        <label for="body_box">
          Body
        </label>

        <textarea id="body_box" name="query_body"><%= @the_comment.body %></textarea>
      </div>

      <div>
        <label for="commenter_id_box">
          Commenter
        </label>

        <input type="text" id="commenter_id_box" name="query_commenter_id" value="<%= @the_comment.commenter_id %>">
      </div>

      <div>
        <label for="ingredient_id_box">
          Ingredient
        </label>

        <input type="text" id="ingredient_id_box" name="query_ingredient_id" value="<%= @the_comment.ingredient_id %>">
      </div>

      <div>
        <label for="measurement_id_box">
          Measurement
        </label>

        <input type="text" id="measurement_id_box" name="query_measurement_id" value="<%= @the_comment.measurement_id %>">
      </div>

      <div>
        <label for="dietary_id_box">
          Dietary
        </label>

        <input type="text" id="dietary_id_box" name="query_dietary_id" value="<%= @the_comment.dietary_id %>">
      </div>

      <button>
        Update comment
      </button>
    </form>
  </div>
</div>

<hr>
