<div>
  <div>
    <h1>
      List of all food sensitivities
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new food sensitivity
    </h2>

    <form action="/insert_food_sensitivity" method="post">
      <div>
        <label for="ingredient_id_box">
          Ingredient
        </label>

        <input type="text" id="ingredient_id_box" name="query_ingredient_id">
      </div>

      <div>
        <label for="sensitivity_id_box">
          Sensitivity
        </label>

        <input type="text" id="sensitivity_id_box" name="query_sensitivity_id">
      </div>

      <div>
        <label for="dietary_id_box">
          Dietary
        </label>

        <input type="text" id="dietary_id_box" name="query_dietary_id">
      </div>

      <button>
        Create food sensitivity
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Ingredient
        </th>

        <th>
          Sensitivity
        </th>

        <th>
          Dietary
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_food_sensitivities.each do |a_food_sensitivity| %>
      <tr>
        <td>
          <%= a_food_sensitivity.id %>
        </td>

        <td>
          <%= a_food_sensitivity.ingredient_id %>
        </td>

        <td>
          <%= a_food_sensitivity.sensitivity_id %>
        </td>

        <td>
          <%= a_food_sensitivity.dietary_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_food_sensitivity.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_food_sensitivity.updated_at) %> ago
        </td>

        <td>
          <a href="/food_sensitivities/<%= a_food_sensitivity.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
