<div>
  <div>
    <h1>
      Type #<%= @the_type.id %> details
    </h1>

    <div>
      <div>
        <a href="/types">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_type/<%= @the_type.id %>">
          Delete type
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_type.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_type.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_type.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit type
    </h2>

    <form action="/modify_type/<%= @the_type.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_type.name %>">
      </div>

      <button>
        Update type
      </button>
    </form>
  </div>
</div>

<hr>
