<div>
  <div>
    <h1>
      Find an alternative
    </h1>
  </div>
</div>

<hr>

<%= search_form_for @q do |f| %>
  <p>Search by name of ingredient, type, or both:</p>

  <div>
    <%= f.label :original_cont, "What do you need an alternative for?" %>
    <%= f.text_field :original_cont, :placeholder => "e.g. sugar" %>
  </div>

<div>
  <% Type.all.each do |type| %>
    <label>
      <%= check_box_tag('q[type_id_eq_any][]', type.id, (true if @q.type_id_eq_any.try(:include?, type.id))) %>
      <%= type.name %>
    </label>
  <% end %>
</div>




  <%= f.submit :class => "btn btn-primary btn-block" %>
  <a href="/original_ingredients">Clear filters</a>

<% end %>


<hr>
<%if @user_id != nil%>
<h3> Can't find what you are looking for? <a href = "/create_new_alternative">add a new one!</a></h3>
<%end%>
<hr>

<%if @check_presence == nil%>
No results!
<%else%>
<div>
  <table>
      <tr>
        <th>
          Original Ingredient
        </th>

        <th>
          Alternatives
        </th>

      </tr>
   <% @matching_ingredients.each do |an_ingredient| %>
   <%if @list_of_alternatives.where({:original_ingredient_id => an_ingredient.id}).first!= nil%>
      <tr>
        <td>
          <%= an_ingredient.original %>
        </td>

        <td>
          <a href="/original_ingredients/<%= an_ingredient.id %>">
            Show alternatives
          </a>
        </td>
      </tr>
      <%end%>
    <%end%>
    </table>
  </div>
 <% end %>