<div class = "offset-md-1 py-10 ">
  <%= search_form_for @q do |f| %>

  <div>
    <%= f.label :original_cont, "What do you need an alternative for?", :class => "font-weight-bold" %>
    <%= f.text_field :original_cont, :placeholder => "e.g. sugar", :class => "form-control form-control-md col-md-6"%>
  </div>
<div class = "py-6 font-weight-bold">Looking for a specific type of alternative?</div>
<div>
  <% Type.all.each do |type| %>
    <label >
      <%= check_box_tag('q[type_id_eq_any][]', type.id, (true if @q.type_id_eq_any.try(:include?, type.id))) %>
      <%= type.name %>
    </label>
  <% end %>
</div>

  <%= f.submit :class => "btn btn-dark btn-block col-md-2" %>
  <a href="/original_ingredients">Clear filters</a>
<% end %>
</div>

<%if @check_presence == nil%>
No results!
<%else%>
<div class = "offset-sm-1">
  <table>
  <%unless params[:q].blank?%>
   <% @matching_ingredients.each do |an_ingredient| %>
   <%if @list_of_alternatives.where({:original_ingredient_id => an_ingredient.id}).first!= nil%>
      <div class = "container">
        <div class = "row justify-content-between">
          <div class = "col-4 py-6">
             <div class="card">
                <div class="card-body">
                    <h5 class="card-title">  <%= an_ingredient.original %></h5>
                        <a href="/original_ingredients/<%= an_ingredient.id %>" class="card-link">Show alternatives</a>
            </div>
        </div>
  </div>
<%end%>
</div>
</div>
    <%end%>
  </div>
  <%end%>
 <% end %>

 <hr>
<%if @user_id != nil%>
<p> Can't find what you are looking for? <a href = "/create_new_alternative">add a new one!</a></p>
<%end%>
<hr>