<div>
  <div>
    <h1>
      Find an alternative
    </h1>
  </div>
</div>

<hr>
<h3>Search by:</h3>
  <div>
    <form action="/original_ingredients" method="get">
    <label for="original_box">What do you need an alternative for?</label>
    <input type="text" id="original_box" name="query_original" placeholder = "sugar">
  </div>
What type of alternatives are you looking for?
  <div>
    <%@list_of_types.each do |a_type|%>
    <%= check_box_tag("type_ids[]", a_type.id) %>
    <%=h a_type.name %>
<% end %>
  </div>

  <div>
    <button>Find alternatives!</button>
  </div>
</form>
<%=@show%>
<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Basic
        </th>

        <th>
          Alternative
        </th>

        <th>
          Sensitivity
        </th>

        <th>
          Type
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_alternatives.each do |an_ingredient| %>
      <tr>
        <td>
          <%= an_ingredient.original_ingredient.original %>
        </td>

        <td>
          <a href="/original_ingredients/<%= an_ingredient.original_ingredient_id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
