<div>
  <div>
    <h1>
      alternatives for <%= @the_original_ingredient.original %>
    </h1>

    <div>
      <div>
        <a href="/original_ingredients">
          Go back
        </a>
      </div>
    </div>

<%if @user_id != nil%>
<h3>add new alternatives</h3>
  <div>
      <form action="/insert_alternative" method="post">
        <input type = "hidden" name = "user_id_query" value = <%=@user_id%>>
        
        <div>
          <input type="hidden" value =" <%=@the_original_ingredient.id%>" name="query_original" placeholder = "sugar">
        </div>

        <div>
          <label for="alternative_box">
            Alternative
          </label>
          <input type="text" id="alternative_box" name="query_alternative" placeholder = "stevia">
        </div>

        <div>
          <label for="notes_box">
            Notes
          </label>
          <textarea id="notes_box" name="query_notes" rows="3" placeholder = "e.g. links to recipes, cooking notes, measurement instructions..."></textarea>
        </div>

        <div>
        Does the alternative have any sensitivities?
        <% Sensitivity.all.each do |sensitivity| %>
        <label>
          <%= check_box_tag('[sensitivity_id][]', sensitivity.id) %>
          <%= sensitivity.name %>
        </label>
          <% end %>
      </div>

        <div>
          <input value = "<%=@the_original_ingredient.type_id%>" name="query_type_id" type = "hidden"></input>
          </select>
        </div>

        <button>
          add new alternative
        </button>
      </form>
    </div>
  <%end%>


<h3>alternatives</h3>

<%@matching_alternative_pairs.each do |an_alternative_pair|%>

<table>
      <tr>
      <td>
        <% @alt_id = an_alternative_pair.alternative_ingredient_id%>
        <%= @ingredients.where(:id => @alt_id).first.original%>
      </td>
      <td>
        <a href = '/alternatives/<%=an_alternative_pair.id%>'>details about this alternative</a>
      </td>
      <% @alt_id = an_alternative_pair.alternative_ingredient_id%>
      <% @matching_sensitivities = @food_sensitivities.where(:ingredient_id => @alt_id)%>
      <%@matching_sensitivities.each do |a_sensitivity|%>
    <td>
    sensitivities: <%=a_sensitivity.sensitivity.name%>
    <%end%>
    </td>
      </tr>
  </table>

<%end%>
    
  </div>
</div>

<hr>