<div>
  <div>
    <h1>
      alternatives for <%= @the_original_ingredient.original %>
    </h1>

    <div>
      <div>
        <a href="/original_ingredients">
          Go back
        </a>
      </div>
    </div>


<form>
<h4> Anything you are avoiding?</h4>
<div>
<%@list_of_sensitivities.each do |a_sensitivity|%>
<input id="sensitivity" name="query_sensitivity" type="checkbox" value="<%=a_sensitivity.name%>" />
<label for="sensitivity"><%=a_sensitivity.name%></label>
<%end%>
</div>
</form>

<h3>add new alternatives</h3>
<div>
    <form action="/insert_alternative" method="post">
      <div>
        <input type="hidden" value =" <%=@the_original_ingredient.id%>" name="query_original" placeholder = "sugar">
      </div>

      <div>
        <label for="alternative_box">
          Alternative
        </label>
        <input type="text" id="alternative_box" name="query_alternative" placeholder = "stevia">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>
        <textarea id="notes_box" name="query_notes" rows="3" placeholder = "e.g. links to recipes, cooking notes, measurement instructions..."></textarea>
      </div>

      <div>
        <input value = "<%=@the_original_ingredient.type_id%>" name="query_type_id" type = "hidden"></input>
        </select>
      </div>

      <button>
        add new alternative
      </button>
    </form>
  </div>


<h3>alternatives</h3>

<%@matching_alternative_pairs.each do |an_alternative_pair|%>

<dl>
      <dt>
        <% @alt_id = an_alternative_pair.alternative_ingredient_id%>
        <%= @ingredients.where(:id => @alt_id).first.original%>
      </dt>
      <dd>
        <a href = '/alternatives/<%=an_alternative_pair.id%>'>details about this alternative</a>
      </dd>

    </dl>

<%end%>
    
  </div>
</div>

<hr>