<div>
  <div>
    <h1 class = "offset-md-1 py-6">
      alternatives for <%= @the_original_ingredient.original %>
    </h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/original_ingredients">Search</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @the_original_ingredient.original %> alternatives</li>
  </ol>
</nav>


<%@matching_alternative_pairs.each do |an_alternative_pair|%>

<div class = "container">
  <div class = "row justify-content-between">
  <div class = "col-6 py-6">
    <div class="card">
      <div class="card-body">
        <% @alt_id = an_alternative_pair.alternative_ingredient_id%> 
          <h5 class="card-title"> <%= @ingredients.where(:id => @alt_id).first.original%></h5>
          <h6 class="card-subtitle mb-2 text-muted">
          <% @alt_id = an_alternative_pair.alternative_ingredient_id%>
            <% @matching_sensitivities = @food_sensitivities.where(:ingredient_id => @alt_id)%>
            <%@matching_sensitivities.each do |a_sensitivity|%>
          <%if a_sensitivity.sensitivity.name == "none"%>
          <%else%>
          <span class="badge badge-danger"><%=a_sensitivity.sensitivity.name%></span>
          <%end%>
          <%end%>
          </h6>
          <p class="card-text"><%= an_alternative_pair.notes%></p>
          <a href="/alternatives/<%=an_alternative_pair.id%>" class="card-link">More info</a>
      </div>
    </div>
  </div>
<%end%>
</div>
</div>

<hr>

<%if @user_id != nil%>
<div class="row justify-content-around">
  <div class="col-8 py-100 ">
  <div><h5>add a new alternative</h5></div>
      <form action="/insert_alternative" method="post">
        <input type = "hidden" name = "user_id_query" value = <%=@user_id%>>
        
        <div>
          <input type="hidden" value =" <%=@the_original_ingredient.id%>" name="query_original" placeholder = "sugar">
        </div>

        <div class="form-group">
          <label for="alternative_box" class = "font-weight-bold">
            Alternative
          </label>
          <input type="text" id="alternative_box" name="query_alternative" placeholder = "e.g. almond milk">
        </div>

        <div class="form-group">
          <label for="notes_box" class = "font-weight-bold">
            Notes
          </label>
          <textarea class="form-control" id="notes_box" name="query_notes" rows="3" placeholder = "e.g. links to recipes, cooking notes, measurement instructions..."></textarea>
        </div>

        <div class="form-group">
        <span class = "font-weight-bold">Does the alternative have any sensitivities?</span>
        <% Sensitivity.all.each do |sensitivity| %>
        <label>
          <%= check_box_tag('[sensitivity_id][]', sensitivity.id) %>
          <%= sensitivity.name %>
        </label>
          <% end %>
      </div>

        <div>
          <input class="form-control" value = "<%=@the_original_ingredient.type_id%>" name="query_type_id" type = "hidden"></input>
          </select>
        </div>

        <button class="btn btn-success">
          add new alternative
        </button>
      </form>
    </div>
    <%end%>
</div>