<div>
  <div>
    <h2 class = "offset-md-1 py-6">
      Add a new alternative
    </h2>

    <form action="/insert_original_ingredient" method="post" class = "col-md-4 offset-md-1">
      <input type = "hidden" name = "user_id_query" value = "<%=@user_id%>">
      
      <div class="form-group">
        <label for="original_box">
          <span class = "font-weight-bold">Original</span>
        </label>

        <input class="form-control" type="text" id="original_box" name="query_original" placeholder = "sugar">
      </div>

      <div class="form-group">
        <label for="alternative_box">
          <span class = "font-weight-bold">Alternative</span>
        </label>

        <input class="form-control" type="text" id="alternative_box" name="query_alternative" placeholder = "stevia">
      </div>

      <div class="form-group">
        <label for="notes_box">
          <span class = "font-weight-bold">Notes</span>
        </label>
        <textarea class="form-control" id="notes_box" name="query_notes" rows="3" placeholder = "e.g. links to recipes, cooking notes, measurement instructions..."></textarea>
      </div>
        <div class="form-group">
        <span class = "font-weight-bold">Does the alternative have any sensitivities?</span>
        <% Sensitivity.all.each do |sensitivity| %>
        <label>
          <%= check_box_tag('[sensitivity_id][]', sensitivity.id) %>
          <%= sensitivity.name %>
        </label>
          <% end %>
      </div>

      <div class="form-group">
        <label for="type_id_box">
          <span class="font-weight-bold"> Type</span>
        </label>
         <select class="form-control" id="type_id_box" name="query_type_id">
          <%@list_of_types.each do |a_type|%>
        <option value = "<%=a_type.id%>"><%=a_type.name%></option>
        <%end%>
        </select>
      </div>

      <button class="btn btn-success">
        Create new alternative
      </button>
    </form>
  </div>
</div>
