<div>
  <div>
    <h1>
    <%= @alternative_name %> as an alternative for <%=@original_name%>
    </h1>

<hr>

<%if @user_id != nil%>

<form action = "/insert_favorite" method = "post">
<input type = "hidden" name = "query_user" value = "<%=@user_id%>">
<input type = "hidden" name = "query_alt" value = "<%=@the_alternative.id%>">
<button>Favorite this alternative pair</button>
</form>

<%end%>
<hr>

<h3>Notes about using stevia as an alternative</h3>
<div>
<%=@the_alternative.notes%>
</div>
<hr>
<h3>Comments about this alternative</h3>
<%@matching_comments.each do |a_comment|%>
<table>
<tr>
<th>
Username
</th>
<th>
Comment
</th>
</tr>
<tr>
<td>
<%=a_comment.commenter.username%>
</td>
<td>
<%=a_comment.body%>
</td>
</tr>

</table>
<%end%>
<hr>
<%if @user_id!= nil%>
<%if @user_id == @the_alternative.user_id%>
    <div>
      <div>
        <a href="/delete_alternative/<%= @the_alternative.id %>">
          Delete alternative
        </a>
      </div>
    </div>
<hr>


<div>
  <div>
    <h2>
      Edit alternative
    </h2>

    <form action="/modify_alternative/<%= @the_alternative.id %>"  method="post" >
      <div>
        <label for="original_ingredient_id_box">
          Original ingredient
        </label>

        <input type="text" id="original_ingredient_id_box" name="query_original_ingredient_id" value="<%= @the_alternative.original_ingredient_id %>">
      </div>

      <div>
        <label for="alternative_ingredient_id_box">
          Alternative ingredient
        </label>

        <input type="text" id="alternative_ingredient_id_box" name="query_alternative_ingredient_id" value="<%= @the_alternative.alternative_ingredient_id %>">
      </div>

      <button>
        Update alternative
      </button>
    </form>
  </div>
</div>

<%elsif @user_id != @the_alternative.user_id%>
<div>
<form action = "/insert_comment" method = "post">
Add a comment!
<input type = "hidden" name = "user_query_id" value = "<%=@user_id%>" >
<input type = "hidden" name = "alt_query_id" value = "<%= @the_alternative.id%>" >
<textarea name="query_comment" rows="3"></textarea>
<button>comment</button>
</form>
</div>
<%end%>
<%end%>
<hr>
