<div>
  <div>
    <h1>
    <%= @alternative_name %> as an alternative for <%=@original_name%>
    </h1>

<hr>

<h3>Notes about using stevia as an alternative</h3>
<div>
<%=@the_alternative.notes%>
</div>

<hr>

<%if @user_id == @the_alternative.user_id%>
    <div>
      <div>
        <a href="/delete_alternative/<%= @the_alternative.id %>">
          Delete alternative
        </a>
      </div>
    </div>
<hr>


<div>
  <div>
    <h2>
      Edit alternative
    </h2>

    <form action="/modify_alternative/<%= @the_alternative.id %>"  method="post" >
      <div>
        <label for="original_ingredient_id_box">
          Original ingredient
        </label>

        <input type="text" id="original_ingredient_id_box" name="query_original_ingredient_id" value="<%= @the_alternative.original_ingredient_id %>">
      </div>

      <div>
        <label for="alternative_ingredient_id_box">
          Alternative ingredient
        </label>

        <input type="text" id="alternative_ingredient_id_box" name="query_alternative_ingredient_id" value="<%= @the_alternative.alternative_ingredient_id %>">
      </div>

      <button>
        Update alternative
      </button>
    </form>
  </div>
</div>

<%end%>

<hr>
