<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><span class="h2 font-weight-bold py-6">ALTERNATIVES.</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">

      </li>
       <%if session[:user_id] == nil%>
       <li class="nav-item">
        <a class="nav-link" href="/user_sign_in">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user_sign_up">Sign up</a>
      </li>
      <%else%>
      <%the_id = session[:user_id]%>
      <%@user = User.all.where({:id => the_id}).first%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome, <%=@user.username%>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/favorites">My favorites</a>
          <a class="dropdown-item" href="/edit_user_profile">Edit profile</a>
          <a class="dropdown-item" href="/user_sign_out">Sign out</a>
        </div>
      </li>
      <%end%>
    </ul>
  </div>
  
</nav>

  <%= yield %>

  </body>
   
   <% if notice.blank? %>
  <%else%>
  <div class="col-md-3 alert alert-success alert-dismissible fade show" role="alert" colspan = 2><%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <%end%>

  <% if alert.blank? %>
  <%else%>
  <div class="col-md-3 alert alert-danger alert-dismissible fade show" role="alert"><%= alert %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <%end%>


</html>
